<p>Attention: This is a development web application of the Athanasius Kircher Correspondence Collection at Stanford University Libraries. If you are looking for the current public implementation of this collection, please go to the Luna Insight collection at...</p>
<p>You can query the Athanasius Kircher Correspondence Collection two different ways with this application:</p>
<p>1. You can use submit a text-based query in the box above for either all of the metadata, titles, names, and places;</p>
<p>2. You can limit your search using the facets on the left-hand side of the screen.</p>

<p>Also, at the moment you will need to use umlauts to do place queries for locations like "Würzburg" in the text box above. This will be changed soon so that you will not have to use umlauts. However, for the time being you will need to use them when utilizing the text search feature."</p>

<p>If you have any questions at all, please feel free to contact either Glen Worthey (<a href="mailto:gworthey@stanford.edu">gworthey@stanford.edu</a>) or Jacqueline Hettel (<a href="mailto:hettelj@stanford.edu">hettelj@stanford.edu</a>).</p>
